{% extends 'layout/base.html' %}
{% load static %}
{% block title %}My Account{% endblock %}
{% block class %}class="user-acount blog"{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="wrap-banner">

            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="{% url 'shared:home' %}">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>My Account</span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>

        </div>

        <!-- main -->
        <div id="wrapper-site">
            <div id="content-wrapper" class="full-width">
                <div id="main">
                    <div class="container">
                        <h1 class="text-center title-page">My Account</h1>
                        <div class="login-form">
                            <form id="customer-form" action="{% url 'users:account' %}" method="post">
                                {% csrf_token %}
                                <div>
                                    <div class="form-group no-gutters">
                                        <input class="form-control" name="full_name" type="text"
                                               placeholder="Full Name"
                                               value="{{ form.full_name.value|default_if_none:'' }}">
                                    </div>
                                    <div class="form-group no-gutters">
                                        <input class="form-control" name="username" type="text"
                                               placeholder="Username"
                                               value="{{ form.username.value|default_if_none:'' }}">
                                    </div>
                                    <div class="form-group no-gutters">
                                        <input class="form-control" name="email" type="email"
                                               placeholder="Email"
                                               value="{{ form.email.value|default_if_none:'' }}">
                                    </div>
                                    <div class="form-group no-gutters">
                                        <input class="form-control" name="phone_number" type="text"
                                               placeholder="Phone Number"
                                               value="{{ form.phone_number.value|default_if_none:'' }}">
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="text-center no-gutters">
                                        <a href="{% url 'users:reset-password' %}">
                                            <button class="btn btn-secondary" data-link-action="sign-in" type="button">
                                                Change Password
                                            </button>
                                        </a>
                                        <button class="btn btn-primary" data-link-action="sign-in" type="submit">
                                            Update Account
                                        </button>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}